html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Georgia, serif;
  min-height: 100%;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
img {
  max-width: 100%;
}
a {
  color: #428bca;
  text-decoration: none
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline
}
li {
  margin: 6px 0;
}
table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 30px;
}
td, th {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
  margin: 0;
}
tr:hover > td {
  background-color: #FFF;
}
th {
  border-bottom-width: 2px;
}
.container {
  width: 800px;
  margin: 0 auto;
}
