html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Georgia, serif;
  min-height: 100%;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
a {
  color: #428bca;
  text-decoration: none
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline
}
li {
  margin-bottom: 6px;
}
#header {
  padding: 40px 0;
  background-color: #F5F5F5;
  border-top: 8px solid #08C;
}
#avatar {
  float: right;
  border-radius: 50%;
  margin-top: -40px;
  box-shadow: 1px 1px 4px rgba(0,0,0,.6);
}
#avatar:hover {
  box-shadow: 1px 1px 8px rgba(0,0,0,.6);
}
#avatar:active {
  box-shadow: 1px 1px 4px rgba(0,0,0,.6);
}
.container {
  width: 800px;
  margin: 0 auto;
}
#about {
  margin-top: 50px;
  padding: 30px 60px;
  background-color: #EEE;
  border-radius: 6px;
}
#validated {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
